.waf*
/build
.lock-waf*
*.pyc
.cproject
.project
.settings
*.tar*
*.sublime*
*.swp
/log
/deptran/rcc_service.py
rpc_test/counter.h
rpc_test/lib
rpc_test/bin
conf
tmp_conf*.xml
benchmark*.log
log*
.idea
